.App{
  background-image: url('./dracula.jpg');
  background-repeat: no-repeat;
  /* background: cover; */
  min-height: 100vh;
  background-size: cover;
}

.main {
  text-align: left;
  width: 70%;
  margin: auto;
 
}

.dracula{
  background-color: white;
  z-index: 2;
}