*{
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;

  font-family: 'Goudy Bookletter 1911', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3,h4,h5{
  font-family: 'Alef', sans-serif;
}

h1{
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
}
h1>em{
  font-size: 2.5rem;
  display: block;
  text-transform: lowercase;
  margin: 0rem 0 0 1rem;
}

h2{
  font-size: 3rem;
  margin: 1rem 0;
}

h5{
  font-size: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

p{
  font-size: 2rem;
  margin: 1rem 0;
}